In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_1 = pd.read_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/1429_1.csv")
data_1.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                     id  ... reviews.username
0  AVqkIhwDv8e3D1O-lebb  ...          Adapter
1  AVqkIhwDv8e3D1O-lebb  ...           truman
2  AVqkIhwDv8e3D1O-lebb  ...            DaveZ
3  AVqkIhwDv8e3D1O-lebb  ...           Shacks
4  AVqkIhwDv8e3D1O-lebb  ...        explore42

[5 rows x 21 columns]

In [ ]:
data_1.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')

In [ ]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [ ]:
data_2 = pd.read_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv")
data_2.head()

                     id  ...                                         sourceURLs
0  AVqVGZNvQMlgsOJE6eUY  ...  https://www.newegg.com/Product/Product.aspx%25...
1  AVqVGZNvQMlgsOJE6eUY  ...  https://www.newegg.com/Product/Product.aspx%25...
2  AVqVGZNvQMlgsOJE6eUY  ...  https://www.newegg.com/Product/Product.aspx%25...
3  AVqVGZNvQMlgsOJE6eUY  ...  https://www.newegg.com/Product/Product.aspx%25...
4  AVqVGZNvQMlgsOJE6eUY  ...  https://www.newegg.com/Product/Product.aspx%25...

[5 rows x 24 columns]

In [ ]:
data_2.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateAdded',
       'reviews.dateSeen', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [ ]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5000 non-null   object
 1   dateAdded            5000 non-null   object
 2   dateUpdated          5000 non-null   object
 3   name                 5000 non-null   object
 4   asins                5000 non-null   object
 5   brand                5000 non-null   object
 6   categories           5000 non-null   object
 7   primaryCategories    5000 non-null   object
 8   imageURLs            5000 non-null   object
 9   keys                 5000 non-null   object
 10  manufacturer         5000 non-null   object
 11  manufacturerNumber   5000 non-null   object
 12  reviews.date         5000 non-null   object
 13  reviews.dateAdded    1052 non-null   object
 14  reviews.dateSeen     5000 non-null   object
 15  reviews.doRecommend  5000 non-null   bool
 16  reviews.id           29 non-null     float64
 17  reviews.numHelpful   5000 non-null   int64
 18  reviews.rating       5000 non-null   int64
 19  reviews.sourceURLs   5000 non-null   object
 20  reviews.text         5000 non-null   object
 21  reviews.title        4987 non-null   object
 22  reviews.username     5000 non-null   object
 23  sourceURLs           5000 non-null   object
dtypes: bool(1), float64(1), int64(2), object(20)
memory usage: 903.4+ KB

In [ ]:
data_3 = pd.read_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv")
data_3.head()

                     id  ...                                         sourceURLs
0  AVpgNzjwLJeJML43Kpxn  ...  https://www.barcodable.com/upc/841710106442,ht...
1  AVpgNzjwLJeJML43Kpxn  ...  https://www.barcodable.com/upc/841710106442,ht...
2  AVpgNzjwLJeJML43Kpxn  ...  https://www.barcodable.com/upc/841710106442,ht...
3  AVpgNzjwLJeJML43Kpxn  ...  https://www.barcodable.com/upc/841710106442,ht...
4  AVpgNzjwLJeJML43Kpxn  ...  https://www.barcodable.com/upc/841710106442,ht...

[5 rows x 24 columns]

In [ ]:
data_3.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [ ]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28332 entries, 0 to 28331
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   28332 non-null  object
 1   dateAdded            28332 non-null  object
 2   dateUpdated          28332 non-null  object
 3   name                 28332 non-null  object
 4   asins                28332 non-null  object
 5   brand                28332 non-null  object
 6   categories           28332 non-null  object
 7   primaryCategories    28332 non-null  object
 8   imageURLs            28332 non-null  object
 9   keys                 28332 non-null  object
 10  manufacturer         28332 non-null  object
 11  manufacturerNumber   28332 non-null  object
 12  reviews.date         28332 non-null  object
 13  reviews.dateSeen     28332 non-null  object
 14  reviews.didPurchase  9 non-null      object
 15  reviews.doRecommend  16086 non-null  object
 16  reviews.id           41 non-null     float64
 17  reviews.numHelpful   16115 non-null  float64
 18  reviews.rating       28332 non-null  int64
 19  reviews.sourceURLs   28332 non-null  object
 20  reviews.text         28332 non-null  object
 21  reviews.title        28332 non-null  object
 22  reviews.username     28332 non-null  object
 23  sourceURLs           28332 non-null  object
dtypes: float64(2), int64(1), object(21)
memory usage: 5.2+ MB

# **Data Cleaning**

## 1. Removing Unwanted Columns from the dataset

In [ ]:
def remove_cols(data):
  data.drop(columns=['id','asins','keys',
       'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase','reviews.id',
       'reviews.numHelpful','reviews.sourceURLs',
       'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],inplace=True)

In [ ]:
remove_cols(data_1)

In [ ]:
data_2.drop(columns=['id', 'dateAdded', 'dateUpdated','asins', 
       'primaryCategories', 'imageURLs', 'keys',
       'manufacturerNumber', 'reviews.dateAdded',
       'reviews.dateSeen',  'reviews.id',
       'reviews.numHelpful', 'reviews.sourceURLs',
        'reviews.title', 'reviews.username', 'sourceURLs'],inplace=True)

In [ ]:
data_2.head()

                                                name  ...                                       reviews.text
0  Amazon Kindle E-Reader 6" Wifi (8th Generation...  ...  I thought it would be as big as small paper bu...
1  Amazon Kindle E-Reader 6" Wifi (8th Generation...  ...  This kindle is light and easy to use especiall...
2  Amazon Kindle E-Reader 6" Wifi (8th Generation...  ...  Didnt know how much i'd use a kindle so went f...
3  Amazon Kindle E-Reader 6" Wifi (8th Generation...  ...  I am 100 happy with my purchase. I caught it o...
4  Amazon Kindle E-Reader 6" Wifi (8th Generation...  ...  Solid entry level Kindle. Great for kids. Gift...

[5 rows x 8 columns]

In [ ]:
data_3.drop(columns=['id', 'dateAdded', 'dateUpdated','asins',
       'primaryCategories', 'imageURLs', 'keys',
       'manufacturerNumber', 'reviews.dateSeen',
       'reviews.didPurchase',  'reviews.id',
       'reviews.numHelpful',  'reviews.sourceURLs',
        'reviews.title', 'reviews.username', 'sourceURLs'],inplace=True)

In [ ]:
data_3.head()

                                                name  ...                                       reviews.text
0  AmazonBasics AAA Performance Alkaline Batterie...  ...  I order 3 of them and one of the item is bad q...
1  AmazonBasics AAA Performance Alkaline Batterie...  ...  Bulk is always the less expensive way to go fo...
2  AmazonBasics AAA Performance Alkaline Batterie...  ...  Well they are not Duracell but for the price i...
3  AmazonBasics AAA Performance Alkaline Batterie...  ...  Seem to work as well as name brand batteries a...
4  AmazonBasics AAA Performance Alkaline Batterie...  ...  These batteries are very long lasting the pric...

[5 rows x 8 columns]

## 2.Handling Missing Values

In [ ]:
data_1.isnull().sum()

name                   6760
brand                     0
categories                0
manufacturer              0
reviews.date             39
reviews.doRecommend     594
reviews.rating           33
reviews.text              1
dtype: int64

In [ ]:
data_2.isnull().sum()

name                   0
brand                  0
categories             0
manufacturer           0
reviews.date           0
reviews.doRecommend    0
reviews.rating         0
reviews.text           0
dtype: int64

In [ ]:
data_3.isnull().sum()

name                       0
brand                      0
categories                 0
manufacturer               0
reviews.date               0
reviews.doRecommend    12246
reviews.rating             0
reviews.text               0
dtype: int64

### Since reviews.doRecommend column contains more than 12000 null values in data_3. So remove that column from the data_3.

In [ ]:
data_3.drop(columns=['reviews.doRecommend'],inplace=True)

## Removing Missing Values from data_1.

In [ ]:
data_1.dropna(axis=0,inplace=True)

#### After removing missing values :

In [ ]:
data_1.isnull().sum()

name                   0
brand                  0
categories             0
manufacturer           0
reviews.date           0
reviews.doRecommend    0
reviews.rating         0
reviews.text           0
dtype: int64

In [ ]:
data_2.isnull().sum()

name                   0
brand                  0
categories             0
manufacturer           0
reviews.date           0
reviews.doRecommend    0
reviews.rating         0
reviews.text           0
dtype: int64

In [ ]:
data_3.isnull().sum()

name              0
brand             0
categories        0
manufacturer      0
reviews.date      0
reviews.rating    0
reviews.text      0
dtype: int64

There is no missing values in the data.

## 3. Replacing the Column names for better analysis.

In [ ]:
new_col_list = ['Product Name','Brand','Categories','Manufacturer','Reviewed Date','Product Recommend or Not','Rating','Reviews']
data_1.columns = new_col_list

In [ ]:
data_2.columns = new_col_list

In [ ]:
#creating new col list without product recommend for data_3.
new_col_list_2 = ['Product Name','Brand','Categories','Manufacturer','Reviewed Date','Rating','Reviews']
data_3.columns = new_col_list_2

In [ ]:
data_1.columns

Index(['Product Name', 'Brand', 'Categories', 'Manufacturer', 'Reviewed Date',
       'Product Recommend or Not', 'Rating', 'Reviews'],
      dtype='object')

In [ ]:
data_2.columns

Index(['Product Name', 'Brand', 'Categories', 'Manufacturer', 'Reviewed Date',
       'Product Recommend or Not', 'Rating', 'Reviews'],
      dtype='object')

In [ ]:
data_3.columns

Index(['Product Name', 'Brand', 'Categories', 'Manufacturer', 'Reviewed Date',
       'Rating', 'Reviews'],
      dtype='object')

## 6. Save the cleaned data into new csv file for analysis.

In [ ]:
#saving the pre processed data into new csv file
data_1.to_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/data_1")
data_2.to_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/data_2")
data_3.to_csv("/gdrive/MyDrive/Amazon Product Reviews Dashboard/data_3")